.shopping-cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  position: relative;

  & > div {
    padding: 0 10px;
  }

  &__image {
    height: 72px;
    width: 72px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__size, &__price {
    color: gray;
    width: 15%;
  }

  &__size {
    span {
      margin-left: 10px;
    }
  }

  &__quantity {
    width: 15%;

    &-container {
      position: relative;
      width: 90px;

      label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        color: gray;
        pointer-events: none;
      }
    }
  }

  &__select {
    padding: 0 0 0 40px;
  }

  &__cross {
    fill: gray;
    height: 18px;
    width: 18px;
  }
}