.header {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 60px;
  
  &__title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3rem;

    a {
      text-decoration: none;
      color: black;
    }
  }

  &__basket {
    cursor: pointer;
  }

  &__icon {
    width: 24px;
  }
}